// Core
body{
  color: $body;
  font-size: 19px;
  font-family: 'Public Sans', helvetica, arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Public Sans Bold', helvetica, arial, sans-serif;
}
h1{
  color: $body;
  line-height: 1em;
}
h2{
  color: $body-light;
}
p{
  line-height: 1.6em;
}

// Navigation
.nav-active{
  color: $body;
  text-decoration: underline;
}

// Project
.img-lead{

}

.project-sidebar{
  padding: 0;
  margin: 0;
  list-style-type: none;

  li{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}
