{% if site.projects %}
  <div class="row">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
      <div class="col-4 mb-3">
        <a href="{{ project.url }}">
          <img src="{{ project.img_lead_thumb }}" alt=" {{ img_lead_alt }}" class="img-fluid" />
          {% if forloop.first == true %}
            <h1 class="px-3 py-3">{{ project.title }}</h1>
          {% else %}
            <h2 class="px-3 py-3">{{ project.title }}</h2>
          {% endif %}
          <small>
            {{ project.timeline }}<br />
            {{ project.roles | join: ',&nbsp;' }}
          </small>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
