<footer>
  <div class="container">
    <div class="row mt-2 mb-2 py-4 my-sm-4 py-sm-4">
      {% include _nav-list.html %}
      <div class="col-12">
        <a href="{{ site.social.instagram.url }}" alt="Jennifer on Instagram" target="_blank">instagram: {{ site.social.instagram.username }}</a><br />
        <small>
          {% assign today_date = 'now' | date: '%Y' %}
          {% assign start_date = '2020'| date: '2020' %}
          &copy; {{ start_date }}
          {% if today_date > start_date %}
            - {{ today_date }}
          {% endif %}
        <small>
      </div>
    </div>
  </div>
</footer>
