<div class="container navigation my-3 py-3">
  <div class="row">
    <div class="col-12 name">
      <a href="{{ site.portfolio_path }}">Jennifer L. Gardner</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 name">
      Urban planner &amp; strategist
    </div>
    <div class="col-sm-2">
      <a href="{{ site.portfolio_path }}">portfolio</a>
    </div>
    <div class="col-sm-2">
      <a href="{{ site.blog_path }}">blog</a>
    </div>
    <div class="col-sm-2">
      <a href="{{ site.about_path }}">about</a>
    </div>
  </div>
</div>
