<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="row">
        {% if page.title == "about" %}
          <div class="col-8">
            <h1 class="mb-3 pb-3">{{ page.headline }}</h1>
            {{ content }}
          </div>
        {% else %}
          <div class="col-12">
            <h1 class="mb-3 pb-3">{{ page.title | capitalize }}</h1>
            {{ content }}
          </div>
        {% endif %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
