<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="{{ page.img_lead }}" alt="{{ page.img_lead_alt }}" class="img-lead img-fluid mb-3 pb-3" />
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h1>{{ page.title }}</h1>
          <h2><em>{{ page.subhead }}</em></h2>
          <p class="my-3 py-3">
            <strong>
              Tags: {{ page.tags | join: ',&nbsp;' }}<br />
              Timeline: {{ page.timeline }}<br />
              Role: {{ page.roles | join: ',&nbsp;' }}<br />
              {% if page.clients %}
                Client: {{ page.clients | join: ',&nbsp;' }}<br />
              {% endif %}
              {% if page.partners %}
                Partners: {{ page.partners | join: ',&nbsp;' }}<br />
              {% endif %}
            </strong>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          {{ content }}
        </div>
        <div class="col-4">
          <hr />
          {% if page.report %}
            <strong>Final Report</strong><br />
            <a href="{{ page.report.url}}" title="{{ page.report.title }}" target="_blank">{{ page.report.title }}</a><br />
          {% endif %}
          {% if page.slide_deck %}
            <strong>Example slide deck</strong><br />
            <a href="{{ page.slide_deck.url}}" title="{{ page.slide_deck.title }}" target="_blank">{{ page.slide_deck.title }}</a><br />
          {% endif %}

        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
