<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      {% if page.img_lead %}
        {% if page.img_lead_alt %}
        {% else %}
          <div class="alert alert-danger" role="alert">
            <strong>Project Front Matter</strong><br />Add ALT text to the lead image</div>
        {% endif %}
        <div class="row">
          <div class="col-12">
            <img src="{{ page.img_lead }}" alt="{{ page.img_lead_alt }}" class="img-lead img-fluid mb-3 pb-3" />
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-8">
          <h1>{{ page.title }}</h1>
          <h2><em>{{ page.subhead }}</em></h2>
          <p class="my-3 py-3">
            <strong>
              Tags {{ page.tags | join: '&nbsp;|&nbsp;' }}<br />
              Timeline: {{ page.timeline }}<br />
              Role: {{ page.roles | join: ',&nbsp;' }}<br />
              {% if page.clients %}
                Client: {{ page.clients | join: ',&nbsp;' }}<br />
              {% endif %}
              {% if page.partners %}
                Partners: {{ page.partners | join: ',&nbsp;' }}<br />
              {% endif %}
            </strong>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          {{ content }}
        </div>
        <div class="col-4">
          <hr />
          {% if page.sidebar %}
          <ul class="project-sidebar">
            {% for item in page.sidebar %}
              <li>
                <strong>{{ item.heading }}</strong><br />
                {% if item.category == "blogs" or item.category == "press" %}
                  <ul>
                    {% for item in item.content %}
                      <li>
                        {{ item.author }} | {{ item.date }} | {{ item.pub }}<br />
                        <a href="{{ item.url}}" title="{{ item.title }}" target="_blank">{{ item.title }}</a><br />
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  {% for item in item.content %}
                    <a href="{{ item.url}}" title="{{ item.title }}" target="_blank">{{ item.title }}</a><br />
                  {% endfor %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
